config.env
__pycache__/*
indomie.db
indomie.session
indomie.session-journal
TG_BOT_TOKEN.session
indomie/__pycache__/*
indomie/modules/__pycache__/*
indomie/modules/sql_helper/__pycache__/*
.progress
/*.mp4
/*.jpg
/*.png
.vscode/*
bin/*
*.mp3
*.mp4
*.webm
*.mkv
